@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');




body	{
  font-family: 'Noto Sans JP', sans-serif;
  /*background-color: #7b233a;*/
  background-image: url("../img/背景.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-size: large;
}
/*　ナビゲーションバー　navbar-static */
.menu{
    margin: 0;
}
.message {
  text-align: center;
}
.message div#list {
  background-color: rgba(249, 230, 205);
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px;
  margin: 20px 0 20px 0;
  padding: 20px 0 20px 0;
}
.message div#text1 {
  margin: 15px 15px 15px 0;
  /*padding: 15px 0 15px 0;*/
  text-align: center;
}
img.umbrella-img {
  width: 30px;
}
/* footer */
.footer {
  padding: 15px 0 25px 0;
  background-color: rgb(27, 27, 26);
  color: #fff;
}

.footer p {
  margin: 0;
  font-size: 13px;
  line-height: 1.6;
}

/* essential */
.essential {
  color: rgb(255, 0, 0);
  font-weight: normal;
  font-size: 120%;
}

/* form */
.form-control {
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .formarea {
    padding: 15px 0 0 0;
    text-align: center;
  }
  .regist_button {
    margin-left: 125px;
  }
}

.copyarea {
  font-size: small;
  padding: 30px 0 0 0;
  background-color: rgb(27, 27, 26);
  color: #fff;
}

/* PAGE TOP */
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 80%;
}

#page-top a {
  background: #666;
  text-decoration: none;
  color: #fff;
  width: 100px;
  padding: 25px 0;
  text-align: center;
  display: block;
  border-radius: 10px;
}

#page-top a:hover {
  text-decoration: none;
  background: #999;
}

.fadein {
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 2000ms;
}

.fadein.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}
.fadeinmessage {
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 750ms;
}

.fadeinmessage.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}
#scroll-arrow-hint {
  position: absolute;
  bottom: 25vh;
  opacity: 0;
}

#scroll-arrow-hint span {
  display: block;
  width: 24px;
  height: 24px;
  border-bottom: 5px solid #06A8FF;
  border-right: 5px solid #06A8FF;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

#scroll-arrow-hint span:nth-child(2) {
  animation-delay: -0.2s;
}

#scroll-arrow-hint span:nth-child(3) {
  animation-delay: -0.4s;
}
#nameblock {
  display: inline-block;
}