@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');


body	{
  font-family: 'Noto Sans JP', sans-serif;
  /*background-color: #7b233a;*/
  background-image: url("../img/背景.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-size: large;
  box-sizing : border-box;
}
#TopMessage{
  max-width: 100%;
}
.message div#list {
  background-color: rgba(249, 230, 205);
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px;
  margin: 20px 0 20px 0;
  padding: 20px 0 20px 0;
}
.message div#text1 {
  margin: 15px 0 15px 0;
  text-align: center;
  /*padding: 15px 0 15px 0;*/
}
.message div#text2 {
  margin: 15px 15px 15px 0;
  text-align: left;
  /*padding: 15px 0 15px 0;*/
}
img.umbrella-img {
  width: 30px;
}

/* essential */
.essential {
  color: rgb(255, 0, 0);
  font-weight: normal;
  font-size: 120%;
}

/* form */
.form-control {
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  #TopMessage{
    max-width: 60%;
  }
}

.copyarea {
  font-size: small;
  text-align: center;
  padding: 30px 0 0 0;
  background-color: rgb(27, 27, 26);
  color: #fff;
}

.fadein {
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 2000ms;
}

.fadein.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}
.fadeinmessage {
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 750ms;
}

.fadeinmessage.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}

.message div#nameblock {
  display: inline-block;
}
#loader{
  width: 80px;
  height: 80px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -40px;       /* heightの半分のマイナス値 */
  margin-left: -40px;      /* widthの半分のマイナス値 */
  z-index: 10;             /* #fadeより多い値を入れて下さい */
}
#fade{
  width: 100%;
  height: 100%;
  display: none;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;              /* #loaderより少ない値を入れて下さい */
}
#container{
  width: 99%;
}
.cp_arrows *, .cp_arrows *:before, .cp_arrows *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_arrows {
	position: relative;
	display: flex;
	height: 300px;/*画面いっぱいにする場合100vh*/
	margin: 2em auto 10em auto;
	justify-content: center;
	align-items: center;
}
.cp_arrows .cp_arrow {
	position: absolute;
	top: 50%;/*着地点（サンプルは[class:cp_arrows]height300pxの50%）*/
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	opacity: 0;
}
.cp_arrows .cp_arrowfirst {
	-webkit-animation: arrow-move08 3s ease-in-out infinite;
	        animation: arrow-move08 3s ease-in-out infinite;
}
.cp_arrows .cp_arrowsecond {
	-webkit-animation: arrow-move08 3s 1s ease-in-out infinite;
	        animation: arrow-move08 3s 1s ease-in-out infinite;
}
.cp_arrows .cp_arrowthird {
	-webkit-animation: arrow-move08 3s 2s ease-in-out infinite;
	        animation: arrow-move08 3s 2s ease-in-out infinite;
}
.cp_arrows .cp_arrow:before, .cp_arrows .cp_arrow:after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 30px;
	height: 3px;
	content: '';
	background: #E91E63;
}
.cp_arrows .cp_arrow:before {
	-webkit-transform: rotate(30deg) translateX(-39%);
	        transform: rotate(30deg) translateX(-39%);
	-webkit-transform-origin: top left;
	        transform-origin: top left;
}
.cp_arrows .cp_arrow:after {
	-webkit-transform: rotate(-30deg) translateX(39%);
	        transform: rotate(-30deg) translateX(39%);
	-webkit-transform-origin: top right;
	        transform-origin: top right;
}
@-webkit-keyframes arrow-move08 {
	0% {
		top: 40%;/*スタート地点（サンプルは[class:cp_arrows]height300pxの35%）*/
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes arrow-move08 {
	0% {
		top: 40%;
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}